.fondoPrincipal {
    height: 50%;
    display: flex;
    position: absolute;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.ola {
    position: absolute;
    flex-wrap: wrap;
}

.titulo1 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding-top: 100px;
    margin-left: 50%;
    font-size: 60px;
   font-family: "Maven Pro", sans-serif;
   font-weight: 500;
  }

.flecha {
    height: 50px;
    width: 60px;
    margin-left: 55%;
    padding-top: 200px;
    position: absolute;
}

.texto1 {
    font-size: 20px;
     font-weight: 600;
     width: 20%;
     position: absolute;
     margin-left: 800px;
     margin-top: 190px; 
   font-family: "Maven Pro", sans-serif;
   }

.boton1 {
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 15%;
    margin-left: 125px;
    cursor: pointer;
    border: 1px solid rgb(66, 184, 105);
    background: transparent;
    position: absolute;
    margin-left: 850px;
    margin-top: 280px;
    background-color: rgb(66, 184, 105);

  }


  .boton1:hover {
    border-color: rgba(255, 255, 255, 0.329);
    color: rgba(255, 255, 255, 0.329);
    transition: 0.1s;
  }

  .tituloIndex {
    padding-top: 600px;
    padding-left: 80px;
   font-family: "Maven Pro", sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 196, 175);
    font-weight: 600;
  }
  .textoIndex {
    padding-top: 100px;
    font-size: 25px;
    text-align: center;
    align-items: center;
    margin-left: 220px;
    width: 70%;
   font-family: "Maven Pro", sans-serif;

  }

  .textoGrande {
    font-family: serif;
    padding-top: 10px;
    font-family: "Maven Pro", sans-serif;
    color: rgb(255, 196, 175);
    font-size: 28px;
    margin: 100px;
    margin-right: 100px;
    text-align: center;
    font-weight: 500;
  }